language: ruby
script: bundle exec rake spec
bundler_args: --without development
services:
  - redis-server
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - jruby
  - jruby-head
  - rbx-2
jdk:
  - openjdk7
matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: jruby-head
  fast_finish: true
